
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="img/ciencia.png" alt="Scientific Work">
                <div class="caption">
                    <h3>{{ 'Scientia' | interpolate }}</h3>
                    <p>Here you will find a bit more of my public work and research.</p>
                    <p>
                        <a href="#/view2" class="btn btn-primary md-trigger" data-modal="modal-1" role="button">GO TO</a>  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.cognisense.com.br/images/logo.png" alt="CogniSense Tecnologia">
                <div class="caption">
                    <h3>{{ 'Cognisense Tecnologia' | interpolate }}</h3>
                    <p>Works at Cognisense Tecnologia.</p>
                    <p>
                        <a href="#/view2" class="btn btn-primary md-trigger" data-modal="modal-2" role="button">GO TO</a>  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.neovu.com.br/images/neovu-logo-over.png" alt="Neovu Design">
                <div class="caption">
                    <h3>{{ 'Neovu Design' | interpolate }}</h3>
                    <p>Works at Neovu Design.</p>
                    <p>
                        <a href="#/view2" class="btn btn-primary md-trigger" data-modal="modal-3" role="button">GO TO</a>  
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content"> 
            <iframe id="resume" src="" height="100%" width="100%" frameborder="0"> </iframe> 
            <div>   
                <button class="md-close btn btn-primary">Close</button>
            </div>
        </div>
    </div>
    <div class="md-modal md-effect-1" id="modal-2">
        <div class="md-content"> 
            <iframe id="cognisense" src="" height="100%" width="100%" frameborder="0"> </iframe>  
            <div>   
                <button class="md-close btn btn-primary">Close</button>
            </div>
        </div>
    </div>
    <div class="md-modal md-effect-1" id="modal-3">
        <div class="md-content"> 
            <iframe id="neovu" src="" height="100%" width="100%" frameborder="0"> </iframe>  
            <div>   
                <button class="md-close btn btn-primary">Close</button>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div> 
</div>
 

