
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="img/ciencia.png" alt="Scientific Work">
                <div class="caption">
                    <h3>{{ 'Scientia' | interpolate }}</h3>
                    <p>Here you will find a bit more of my public work and research.</p>
                    <p>
                        <a href="#/view2" class="btn btn-primary " data-toggle="modal" data-target="#modal-1">GO TO</a>  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.cognisense.com.br/images/logo.png" alt="CogniSense Tecnologia">
                <div class="caption">
                    <h3>{{ 'Cognisense Tecnologia' | interpolate }}</h3>
                    <p>Works at Cognisense Tecnologia.</p>
                    <p>
                        <a href="#/view2" class="btn btn-primary " data-toggle="modal" data-target="#modal-2">GO TO</a>  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.neovu.com.br/images/neovu-logo-over.png" alt="Neovu Design">
                <div class="caption">
                    <h3>{{ 'Neovu Design' | interpolate }}</h3>
                    <p>Works at Neovu Design.</p>
                    <p>
                        <a href="#/view2" class="btn btn-primary " data-toggle="modal" data-target="#modal-3">GO TO</a>  
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-1" class="modal fade">
        <div class="md-content"> 
            <iframe id="resume" src=""> </iframe> 
            <div>   
                <button class="md-close btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <div id="modal-2" class="modal fade">
        <div class="md-content"> 
            <iframe id="cognisense" src=""> </iframe>  
            <div>   
                <button class="md-close btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <div id="modal-3" class="modal fade">
        <div class="md-content"> 
            <iframe id="neovu" src=""> </iframe>  
            <div>   
                <button class="md-close btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div> 
</div>
 

