 
html{

    background-size: 130% 130%;
    background-repeat:no-repeat; 
    background-position: 0 0;  
    height: 100%; 
}
.navbar-default{
    background: transparent;
    border: 0px;
}
.jumbotron{
    background: transparent;
    color: #dddddd;
}
.thumbnail{
     background-color:  transparent;
    color: #dddddd;
      border: 0px;
}
a:focus, a:hover{
      color: #dddddd;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: 0px;
}
canvas{
    z-index: -10000;
    top: 0;
    left: 0;
    position: absolute;
}
.particles{
    /*    display: none;*/
}
iframe{
    border: 0.1em solid rgba(250,250,250,.2);
    border-radius: 5px;
    width: 100%;
    height: 100%;

} 
.md-content{
    width: 90%;
    height: 90%; 
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.md-close{
    position: absolute;
    top: 10px;
    right: 20px;
}
#heatmapArea {
    position:absolute; 
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    /*    border:1px dashed black;*/
}

.copyright{
    position: fixed;
    bottom: 2px;
    left: 10px; 
}
.copyright a{

    font-size: 1.5em;
}
footer{
    position: fixed;
    bottom: 2px;
    right: 10%;
} 

.dlagoinha{   background-repeat:no-repeat; background-position: center center; background-image: url("../img/dlagoinha.jpg" );} 
.trabalho{   background-repeat:no-repeat; background-position: center center; background-image: url("../img/trabalho.jpg" );} 
.ester{   background-repeat:no-repeat; background-position: center center; background-image: url("../img/ester.jpg" );} 
.ciencia{   background-repeat:no-repeat; background-position: center center; background-image: url("../img/ciencia.png" );} 
body{
    background: transparent;
}